@import "../../styles/typography.scss";
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid var(--blue);
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-left: 4px solid var(--dark-blue);
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container {
  position: fixed;
  top: 0;
  right: 0;
  background: var(--bg);
  left: 0;
  bottom: 0;
  display: flex;
  z-index: 100000;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

.text {
  color: var(--error);
  @include getFontStyles("header");
}
