:root {
  --text: #282828;
  --secondary-text: #80a2b6;
  --hover: #eaf1f7;
  --border: #e3ebef;
  --secondary-bg: #f6f7f8;
  --bg: #fff;
  --white: #fff;
  --error: #e03f3f;
  --blue: #11b3fe;
  --dark-blue: #0095e0;
  --mobile: 768px;
}
