@import "../../styles//typography.scss";

.wrapper {
  min-height: 100vh;
  width: 100%;
  background: var(--bg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 1000px;
  width: 100%;
  padding: 20px;
}

.swap {
  display: flex;
  align-items: center;
  gap: 28px;
  width: 100%;

  &__icon {
    flex-shrink: 0;
    cursor: pointer;
  }
}

.title {
  color: var(--text);
  @include getFontStyles("header");
}

.subtitle {
  margin-top: 16px;
  color: var(--text);
  margin-bottom: 60px;
}

@media (max-width: 768px) {
  .swap {
    flex-direction: column;
    gap: 16px;
    align-items: flex-end;
  }
}
